{{tieudeSV}}

<form action="/sp/addsp" method="post" style="position: relative;">

    <div class="mb-3">
        <label class="form-label">Masp</label>
        <input type="input" class="form-control" name="MaSP" />
    </div>
    <div class="mb-3">
        <label class="form-label">Ho ten</label>
        <input type="input" class="form-control" name="TenSP" />
    </div>
    <div class="mb-3">
        <label class="form-label">LoaiSP</label>
        <input type="input" class="form-control" name="LoaiSP" />
    </div>
    <div class="mb-3">
        <label class="form-label">SoLuong</label>
        <input type="input" class="form-control" name="SoLuong" />
    </div>
    <div class="mb-3">
        <label class="form-label">HSD</label>
        <input type="input" class="form-control" name="HSD" />
    </div>
    <div class="mb-3">
        <label class="form-label">GiaSP</label>
        <input type="input" class="form-control" name="GiaSP" />
    </div>
    <div class="mb-3">
        <label class="form-label">Hinh</label>
        <input type="input" class="form-control" name="Hinh" />

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
