<form method="post" action="/upload_files" enctype="multipart/form-data">
  <div class="mb-3">
    <label>Upload files</label>
    <input type="file" name="inputfile" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

