<h1>Register</h1>


<form action="" method="post" enctype="multipart/form-data">
    <input type="text" name="TK" placeholder="Enter name" required>
    <br>
    <input type="email" name="Emai" placeholder="Enter email" required>
    <br>
    <input type="file" name="image" required>
    <br>
    <input type="password" name="MK" placeholder="Enter password" required>
    <br>

    <input type="submit" value="Register">

    
</form>

